label for="user_u_login" Логин:
= user.text_field :u_login
label for="user_u_email" E-Mail:
= user.text_field :u_email
label for="user_first_name" Имя:
= user.text_field :first_name
label for="user_middle_name" Отчество:
= user.text_field :middle_name
label for="user_last_name" Фамилия:
= user.text_field :last_name
